<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一章 沉默</title>
    <style>
        canvas {
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<canvas id="canvas" width="400px" height="400px"></canvas>
<script type="text/javascript">
    window.onload = function () {
        var can = document.getElementById("canvas");
        if (can.getContext) {
            var cxt = can.getContext("2d");
            var colorArray = ["#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000"];
            for (var i = 0; i < 20; i++) {
                cxt.fillStyle = colorArray[i];
                cxt.fillRect(10 * (i + 1), 10 * (i + 1), 400 - 2 * (10 * (i + 1)), 400 - 2 * (10 * (i + 1)));
            }
        } else {
            alert("您的浏览器不支持canvas标签");
        }
    }
</script>
</body>
</html>