<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../../js/jquery/jquery-2.2.0.min.js"></script>
    <title>第一章 沉默</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
            overflow: hidden;
        }

        #canvas {
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<canvas id="bodyCanvas"></canvas>
<canvas id="canvas"></canvas>
<script type="text/javascript">
    $(function () {
        setTimeout(draw, 2000)
    });

    function draw() {
        var bodyCan = document.getElementById("bodyCanvas");
        var can = document.getElementById("canvas");
        if (bodyCan.getContext) {
            var bodyCxt = bodyCan.getContext("2d");
            var cxt = can.getContext("2d");

            //获得屏幕宽度和高度
            var w = bodyCan.width = window.screen.width;
            var h = bodyCan.height = window.screen.height;

            can.width = can.height = w / 2;

            //背景图
            bodyCxt.fillStyle = "#D7B3D7";
            bodyCxt.fillRect(0, 0, w, h);

            var colorArray = ["#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000", "#FFF", "#000"];
            for (var i = 0; i < 20; i++) {
                cxt.fillStyle = colorArray[i];
                cxt.fillRect(5 * (i + 1), 5 * (i + 1), (w / 2) - 2 * (5 * (i + 1)), (w / 2) - 2 * (5 * (i + 1)));
            }
        } else {
            alert("您的浏览器不支持canvas标签");
        }
    }
</script>
</body>
</html>