<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <script type="text/javascript" src="../../js/jquery/jquery-2.2.0.min.js"></script>
    <title>第一章 期许</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .wda-content-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
        }

        .wda-bg-black {
            background-color: #000;
        }

        .dsp_1 {
            display: none;
        }

    </style>
</head>
<body>
<audio autoplay="autoplay" loop="loop">
    <source src='../../mp3/You.mp3'/>
</audio>
<div class="wda-content-center" style="width: 100%;text-align: center">
    <div>静静地听这首曲子</div>
    <div style="margin-top: 20px">
        正如你所期待的一样
    </div>
    <div style="margin-top: 20px">
        倒计时&nbsp;<span id="time" style="font-size: 18px;font-weight: bold;color: red"></span>&nbsp;秒
    </div>
</div>
<div class="wda-content dsp_1" id="content">
    <canvas id="bodyCanvas"></canvas>
    <canvas id="canvas" class="wda-content-center wda-bg-black"></canvas>
</div>
<script type="text/javascript">
    var w, h;
    var bodyCan, can, bodyCxt, cxt, txtHeight;
    var time = 1, t = 180, breakWidth = 0, breakHeight = 0, breakTime = 1;
    var myWords = [
        {"content": "1、因你朴实的外表，善良的心，我选择跟你在一起."},
        {"content": "2、为了能让你坚强些，我做了一些你抵触的事."},
        {"content": "3、我后悔，因工作忙而忽略你."},
        {"content": "4、爱，这个字，我只说了一次，从我回来时，那次电话里."},
        {"content": "5、你没有做错什么，因为你是女孩子，需要被呵护，被爱."},
        {"content": "6、所有的一切或许这就是命运的安排..."},
        {"content": "7、以后，你自由了."},
        {"content": "8、我不是男人是我放下了尊严,这值得."},
        {"content": "9、选对一个人简单，厮守终生确很难."},
        {"content": "10、择一人，终一生，对你的承诺，不变."},
        {"content": "11、放开一切，只因你过的太苦."},
        {"content": "12、弃旧迎新吧!"},
        {"content": "13、（1-13-1）"},
        {"content": "14、愿你能读懂上面的话语，给你点时间去记忆!"},
        {"content": "5s"},
        {"content": "4s"},
        {"content": "3s"},
        {"content": "2s"},
        {"content": "1s"},
        {"content": "再见!"}
    ];
    $(function () {
        bodyCan = document.getElementById("bodyCanvas");
        can = document.getElementById("canvas");
        bodyCxt = bodyCan.getContext("2d");
        cxt = can.getContext("2d");

        //获得屏幕宽度和高度
        w = window.document.body.offsetWidth;
        h = window.document.body.offsetHeight;
        txtHeight = (h - w / 2) / 21;
        countTime();
    });

    function draw() {
        if (bodyCan.getContext) {
            bodyCan.width = w;
            bodyCan.height = h;
            can.width = can.height = w / 2;

            //背景图
            bodyCxt.fillStyle = "#000";
            bodyCxt.fillRect(0, 0, w, h);

            //中心图
            var colorArray = new Array(20).join("#FFF-#000-").split("-");
            for (var i = 0; i < 20; i++) {
                cxt.fillStyle = colorArray[i];
                cxt.fillRect(5 * (i + 1), 5 * (i + 1), (w / 2) - 2 * (5 * (i + 1)), (w / 2) - 2 * (5 * (i + 1)));
            }
            initWords();
        } else {
            alert("您的浏览器不支持canvas标签");
        }
    }

    function countTime() {
        if (t == 0) {
            $("#content").removeClass("dsp_1");
            draw();
        } else if (t > 0) {
            $("#time").html(t);
            t = t - 1;
            setTimeout(countTime, 1000);
        }
    }
    function initWords() {
        if (time > 20) {
            bodyCxt.clearRect(0, 0, w, time * (txtHeight + 10));
            bodyCxt.fillStyle = "#000";
            bodyCxt.fillRect(0, 0, w, time * (txtHeight + 10));
//            window.location.href = "myLove.html";
        } else {
            if (time * txtHeight <= ( h / 2 - w / 4)) {
                breakWidth = time * 10;
                breakHeight = time * txtHeight;
                bodyCxt.fillStyle = "#FF0000";
                bodyCxt.fillText(myWords[time - 1].content, time * 10, time * txtHeight);
            } else {
                bodyCxt.fillStyle = "#FFFF00";
                bodyCxt.fillText(myWords[time - 1].content, breakWidth - 10 * (breakTime - 1), time * txtHeight + h / 2 + w / 4 - breakHeight);
                breakTime = breakTime + 1;
            }
            time = time + 1;
            setTimeout(initWords, 2000);
        }
    }
</script>
</body>
</html>